# Puerto de la aplicación
PORT=3000

# Configuración de la base de datos PostgreSQL
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=prueba_bun

# Sincronización automática de esquema (solo para desarrollo, usar false en producción)
DB_SYNCHRONIZE=true

# Entorno de ejecución
NODE_ENV=development


PUBLIC_KEY_MERCADOPAGO=TEST-
ACCESS_TOKEN_MERCADOPAGO=TEST-
