services:
  postgres:
    image: postgres:16-alpine
    container_name: prueba_bun_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: prueba_bun
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # app:
  #   build:
  #     context: .
  #     dockerfile: dockerfile
  #   container_name: prueba_bun_app
  #   restart: unless-stopped
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     PORT: 3000
  #     DATABASE_URL: postgresql://postgres:postgres@postgres:5432/prueba_bun
  #   depends_on:
  #     postgres:
  #       condition: service_healthy

volumes:
  postgres_data:
